{% macro user_cards(user_list) %}

    {% for user in user_list %}

        <div class="col-lg-4 col-md-6 col-12">
        <div class="card user-card">
            <div class="card-inner">
            <div class="image-wrapper">
                <img src="{{ user.header_image_url }}" alt="" class="card-hero">
            </div>
            <div class="card-contents">
                <a href="{{ url_for('users_show',user_id=user.id) }}" class="card-link">
                <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
                <p>@{{ user.username }}</p>
                </a>
                {% import 'users/follow_logic.html' as follow_logic %}
                {{ follow_logic.input(user) }}
            </div>
            <p class="card-bio">{{user.bio}}</p>
            </div>
        </div>
        </div>

    {% endfor %}
{% endmacro %}